@import "sass-bootstrap/lib/bootstrap";

/* Put your CSS here */
html, body {
    margin: 0px 0;
}
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.application{

}
.jcarousel-list {
  height: 175px;
}
.img-container {
  border: 1px solid #AAAAAA;
  height: 137px;
  width: 102px;
}
.carousel-botom-label {
  color: #F77F00;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  height: 22px;
  line-height: 22px;
  margin-top: 5px;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: text-top;
  white-space: nowrap;
  width: auto;
}
.section-title {
    font-size: 18px;
    line-height: 20px;
}
.tab-content{
  border: 1px solid #DDDDDD;
  border-top: none;
}
.carousel-section {
  border-bottom: 1px solid #DDDDDD;
}

.actions.primary {
  display: none;
  height: 60px;
  margin-left: 20px;
  position: absolute;
  top: 44px;
}

.btn.read {
  background: url("../images/read.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 60px;
  left: 0;
  width: 60px;
}
.dropbox {
  height: 4em;
  border: 2px solid #DDD;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: #FEFFEC;
  text-align: center;
  color: #BBB;
  font-size: 2em;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}

.roplabel {
  position: relative;
  top: 40%;
}
.dropfocus{
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;  
}