
{{view view.itemsView}}
<div class="forpopover"></div>
{{!-- <a class="left carousel-control" {{action previousSlide target="view"}}>‹</a>
<a class="right carousel-control" {{action nextSlide target="view"}}>›</a> --}}