 <div class="img-container"> 
  <img {{bindAttr src="view.content.volumeInfo.imageLinks.thumbnail"}}  alt="" width="100px" height="135px"/>
</div>
<div class="actions primary" data-toggle="popover"><a class="btn read"></a></div>
<div>
 <a class="carousel-botom-label" {{bind-attr data-original-title=view.content.volumeInfo.title}} data-toggle="tooltip" title="">{{view.content.volumeInfo.title}}</a>
</div>
{{!-- view BooksManager.Popover title="lala" parentSelector="img[data-toggle='popover']" popoverTemplate="book-popover"--}}
