 <div class="img-container"> 
  <img {{bindAttr src="view.content.volumeInfo.imageLinks.thumbnail"}}  data-toggle="popover" alt="" width="100px" height="135px"/>
</div>
{{!-- {{log view.content.volumeInfo.imageLinks}} --}}
<div>
 <a class="carousel-botom-label" {{bind-attr data-original-title=view.content.volumeInfo.title}} data-toggle="tooltip" title="">{{view.content.volumeInfo.title}}</a>
</div>
{{!-- view BooksManager.Popover title="lala" parentSelector="img[data-toggle='popover']" popoverTemplate="book-popover"--}}
