 <img {{bindAttr src="view.content.volumeInfo.imageLinks.thumbnail"}} alt="" with="100" height="100"/>
 {{log view.content.volumeInfo.imageLinks}}
 <div class="">
   <p>{{view.content.volumeInfo.title}}</p>
   {{!--  <p>{{view.content.volumeInfo.description}}</p> --}}
 </div>
