<footer class="container">
    <div class="row">
        <div class="col-md-2" id="flogo">
            <a href="h" target="_blank" class="img">Logo</a>
        </div>
        <div class="col-md-24">
            <ul>
                <li><span>&copy; 2013 Books</span></li>
            </ul>
        </div>
    </div>
</footer>
