
<div class="container tab-content">
  
  {{view BooksManager.CarouselView contentBinding="controller.model" title="Last Uploaded" carouselItemViewClass="BooksManager.VolumeCarouselItem"}}
  
  {{view BooksManager.CarouselView contentBinding="controller.model" title="Most Readed" carouselItemViewClass="BooksManager.VolumeCarouselItem"}}
  
  {{view BooksManager.CarouselView contentBinding="controller.model" title="Recommended" carouselItemViewClass="BooksManager.VolumeCarouselItem"}}
</div>
{{view BooksManager.PopoverConteinerView}}