<section id="section">
  <div class="navbar navbar-inverse navbar-fixed-top">
    {{outlet header}} 
  </div>
  <div class="container-fluid">
   {{outlet}}
  </div>
  <div id="footer">
      <div class="container">
        <p class="muted credit text-center">Courtesy of <a href="mailto:zetahernandez@gmail.com">Zeta</a></p>
      </div>
    </div>
</section>